{% extends "base/base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center w-full h-full">

        <div class="flex flex-col gap-10 items-center justify-between border border-black p-8 w-1/3 h-1/2 rounded-lg bg-gray-300">
            <h1>Login Panel</h1>
            <form id="loginForm" class="flex flex-col gap-4 justify-center items-center w-full">
                <div class="flex flex-col gap-2 w-full">
                    <div class="mb-6 w-full">
                        <label for="username"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               type="text" id="username" placeholder="Username" required>
                    </div>
                    <div class="mb-6 w-full">
                        <label for="password"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               type="password" id="password" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 rounded-lg px-4 py-2">Login</button>
            </form>
        </div>
    </div>

    <script>

        // Kullanıcının kimlik bilgilerini ister. Sayfa yüklendiğinde çağırılır.
        let whoamiHandler = async () => {
            // belirtlen adrese istek atar.
            const response = await fetch('/api/auth/whoami', {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            });
            // cevap verisi json tipine dönüştürülür.
            const data = await response.json();
            // eğer cookie verilerinde session verisi var ise ve cevap tamam gelirse
            if (response.ok) {
                // gelen veriden takım verisi ile montaj takımında yer aldığı kontrol edilir.
                if (data.user.team.has_montage) {
                    // eğer montaj takımında ise montage sayfasına gönderilir.
                    window.location.href = "montage"
                } else if (data.user.team.has_produce) {
                    // eğer üretim takımında ise üretim sayfasına gönderilir.
                    window.location.href = "dashboard"
                } else if (data.user.team.has_montage && data.user.team.has_produce) {
                    window.location.href = "admin"
                } else {
                    // eğer yok ise üretim sayfasına gönderilir.
                    window.location.href = "dashboard"
                }
            }

        };
        window.addEventListener("load", whoamiHandler)

        let loginFormSubmitHandler = async (event) => {
            event.preventDefault(); // form submit aldığında yapması gereken aktiviteleri engeller. örn: sayfa yenilenmez.

            // elementler id ile değerleri alınır.
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            // istenen yere username ve password verileri ile post isteği atılır.
            const response = await fetch('/api/auth/login/', {
                method: 'POST',
                headers: {'Content-Type': 'application/json', "X-CSRFToken": '{{csrf_token}}'},
                body: JSON.stringify({username, password})
            });

            // gelen veri json tipine dönüştürülür.
            const data = await response.json();
            // eğer istek gerçekleştiyse.
            if (response.ok) {
                // gelen mesaj uyarı olarak verilir.
                alert(`${data.message}`);
                // gelen veri kullanıcı takımının üretim yetkisini denetler. eğer yok ise.
                if (data.user.team.has_produce && data.user.team.has_montage) {
                    // eğer bütün veriler var ise admindir.
                    window.location.href = "admin"
                } else if (data.user.team.has_montage) {
                    // montaj sayfasına yönlendirir.
                    window.location.href = "montage"
                } else if (data.user.team.has_produce) {
                    // üretim sayfasına yönlendirir.
                    window.location.href = "dashboard"
                }
            } else {
                // bir problem var ise mesaj, uyarı olarak verilir.
                alert(data.error);
            }
        }
        document.getElementById('loginForm').addEventListener('submit', loginFormSubmitHandler);
    </script>

{% endblock %}
